body, h1, h2, h3, h4, h5, h6, p {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, "Open Sans";
	color: #294a63;
}
body {
	background: #fff;
}
.btn:focus{
	box-shadow:unset !important;
}
.form-control:focus {
	border-color: #294a63;
}

/* header */
.top{
	position: fixed;
    top: 0;
    width: 100%;
}
.content{
	margin: 90px 0 50px 0;
}
a{
	color:#294a63;
}
a:hover{
	text-decoration: none;
}
span.navs a i{
	margin-right: 3px;
}
span.navs a{
	font-weight: bold;
	color: #fff;
	border-right: 1px solid #fff;
	padding: 5px;
}

/* popular banks */
.popularbanksdiv{
	/* border:2px solid red; */
	/* background:gray; */
}
.popularbanksdiv a{
	font-weight: bold;
	color:#333;
}
.popularbanksdiv a:hover{
	font-weight: bold;
	transition: .4s;
	border-bottom:1px solid #294a63;
}

/* filter */
.filterdiv{
	padding: 20px 0;
	display: flex;
}
.eachinfodiv{
	display: flex;
	margin: auto 20px auto 0;
}
.eachinfodiv label{
	margin: auto 10px;
	font-weight: bold;
}
.filtersearch{
	background:#294a63;
	color: #fff;
	border-radius: 0;
}

/* bank search */
.searchbox{
	border-bottom: 1px solid #333;
}
.banksearch{
	background:transparent;
	outline: none;
	border:none;
	text-transform: lowercase;
}
.form-control:focus{
	background:transparent !important;
	box-shadow:none !important;
}
.closespan{
	cursor: pointer;
	display: none;
}

/* banks */
a.eachbank{
	color:#294a63;
	text-transform: uppercase;
}
a.eachbank:hover{
	/* transition: .3s; */
	font-weight: bold;
}

/* branches */
.branches{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color:#294a63;
}
li a.eachbranch{
	color:#294a63;
	text-transform: uppercase;
}
li a.eachbranch:hover{
	font-weight: bold;
}

/* branch info */
.branchinfo{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: #294a63;
}
label{
	color:#294a63;
	font-weight: bold;
	margin-bottom: 0;
}
input,textarea{
	text-transform: uppercase !important;
}

.addiv{
	background:#dc3545!important;
	color:#fff;
	text-align: left;
	padding: 3px 0 3px 10px;
}
.addiv a{
	color:#fff;
}
.adbottom{
	position: fixed;
    bottom: 0;
    width: 100%;
}